<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.4/css/responsive.bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/dash.css') }}">
    </head>
    <body>
    {# load #}
        <div class="se-pre-con"></div>
        <!-- Ends -->

    {# / load #}

        <section class="vbox">
                    <header class="bg-dark dk header navbar navbar-fixed-top-xs">
                        <div class="navbar-header aside-md">
                            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="#" class="navbar-brand" data-toggle="fullscreen">Groupe</a>

                            <a href="{{ path('app_logout')}}" class="btn btn-link visible-xs" id="deconnexion_resp">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </div>
                        <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
                            <li class="dropdown">
                                <a href="{{ path('app_logout') }}" id="deconnexion">
                                    <span>Se déconnecter</span>
                                </a>
                            </li>
                        </ul>
                    </header>
                <section>
                    <section class="hbox stretch">
                        <!-- .aside -->
                       
                            <aside class="bg-dark lter aside-md hidden-print" id="nav">
                            <section class="vbox">
                                <section class="w-f scrollable">
                                    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                                        <!-- nav -->
                                        <nav class="nav-primary hidden-xs">
                                            <ul class="nav">
                                                <li class="active">
                                                    <a href="#" class="active">
                                                        <i class="fa fa-user icon">
                                                        </i> <span>Nom du user</span>
                                                    </a>
                                                </li>
                                                <li {% if is_granted('ROLE_ADMIN') %}
                                                    style = "display:block;"
                                                    
                                                    {% else %}
                                                    style = "display:none;"

                                                {% endif %}>
                                                    <a href="{{ path('editeurs') }}">
                                                        <i class="fa  fa-users icon">
                                                            
                                                        </i>
                                                        <span>Les éditeurs</span>
                                                    </a>
                                                </>
                                                <li>
                                                    <a href="#layout">
                                                        <i class="fa fa-pencil icon">
                                                            
                                                        </i>
                                                        <span class="pull-right">
                                                            <i class="fa fa-angle-down text"></i>
                                                            <i class="fa fa-angle-up text-active"></i>
                                                        </span>
                                                        <span>Editer</span>
                                                    </a>
                                                    <ul class="nav lt">
                                                        <li>
                                                            <a href="{{ path('register_client') }}">
                                                                <i class="fa fa-angle-right"></i>
                                                                <span>Ajouter</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('liste_client_de_user', {'user_id': app.user.id }) }}">
                                                                <i class="fa fa-angle-right"></i>
                                                                <span>Lister</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li {% if is_granted('ROLE_ADMIN') %}
                                                    style = "display:block;"
                                                    
                                                    {% else %}
                                                    style = "display:none;"

                                                {% endif %}
                                                >
                                                    <a href="#uikit">
                                                        <i class="fa fa-check icon"></i>
                                                        <span class="pull-right">
                                                            <i class="fa fa-angle-down text"></i>
                                                            <i class="fa fa-angle-up text-active"></i>
                                                        </span>
                                                        <span>Control</span>
                                                    </a>
                                                    <ul class="nav lt">
                                                        <li>
                                                            <a href="{{ path('client_present') }}">
                                                                <b class="badge bg-info pull-right">{{ present }}</b>
                                                                <i class="fa fa-angle-right"></i> <span>Client présent</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('client_impaye') }}">
                                                                <b class="badge bg-info pull-right">{{ impaye }}</b>
                                                                <i class="fa fa-angle-right"></i> <span>Client (impayé)</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('client_suspendu') }}">
                                                                <b class="badge bg-info pull-right">{{ suspendu }}</b>
                                                                <i class="fa fa-angle-right"></i> <span>Client (suspendu)</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li {% if is_granted('ROLE_ADMIN') %}
                                                    style = "display:block;"
                                                    
                                                    {% else %}
                                                    style = "display:none;"

                                                {% endif %}
                                                >
                                                    <a href="#">
                                                        <i class="fa fa-paperclip icon">
                                                        
                                                        </i> <span>Fichier</span>
                                                    </a>
                                                </li>
                                                <li {% if is_granted('ROLE_ADMIN') %}
                                                    style = "display:block;"
                                                    
                                                    {% else %}
                                                    style = "display:none;"

                                                {% endif %}
                                                >
                                                    <a href="{{ path('pointage') }}">
                                                        <i class="fa  fa-pied-piper-alt icon">
                                                        
                                                        </i> <span>Pointage</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </nav>
                                        <!-- / nav -->
                                    </div>
                                </section>


                            </section>
                        </aside>
                        <!-- /.aside -->
                        <section id="content">
                            <section class="vbox">

                                <section class="scrollable padder">


                                    <div style="height:800px;">
                                            {% block body %}
                                                
                                            {% endblock %}
                                    </div>
                                    {# modal suppr  #}
                                        <div id="modal_suppression">
                                            <section class="inner_modal">
                                                <h3 class="modal_titre">Voulez-vous vraiment supprimer ce client?</h3>
                                                <div class="modal_liste_btn">
                                                    <form>
                                                        <input type="hidden" value="">
                                                        <div class="form-group">
                                                            <button data-id-client="0" class="btn btn-primary btn-sm" id="btn_supprimer_client"  type="submit">Supprimer</button>
                                                            <a href="#"  class="btn btn-danger annuler_suppression btn-sm">Annuler</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </section>
                                        </div>
                                        <div id="modal_modification">
                                            <section class="inner_modal">
                                                <div class="modal_head">
                                                    <button class="btn btn-danger">
                                                        <span class="fa fa-times"></span>
                                                    </button>
                                                    <h3>
                                                        <span>Matricule:</span>
                                                        <span class="son_matricule">123</span>
                                                    </h3>
                                                    <div class="last_etat">
                                                        <span>Dernier mois pointé:
                                                        </span>
                                                        <span class="last_mois">Fevrier
                                                        </span>/<span>
                                                            2020</span>
                                                    </div>
                                                </div>
                                                <form action="">
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="annee">Année:</label>
                                                            <select name="annee_pointage" id="annee_pointage" class="form-control"></select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="annee">Mois:</label>
                                                            <select name="mois_pointage" id="mois_pointage" class="form-control">
                                                                <option value="1">Janvier</option>
                                                                <option value="2">Février</option>
                                                                <option value="3">Mars</option>
                                                                <option value="4">Avril</option>
                                                                <option value="5">Mais</option>
                                                                <option value="6">Juin</option>
                                                                <option value="7">Juillet</option>
                                                                <option value="8">Août</option>
                                                                <option value="9">Septembre</option>
                                                                <option value="10">Octobre</option>
                                                                <option value="11">Novembre</option>
                                                                <option value="12">décembre</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group btn_action">
                                                            <div class="form-group">
                                                                <label>Montant (ariary):</label>
                                                                <input type="number" class="form-control montant" name="montant" id="montant">
                                                            </div>
                                                            <div id="info">
                                                                <p>Lorem ipsum dolor sit amet consectetur adipis</p>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="sumbit" data-id-client="0" id="add_pointage" class="btn btn-primary btn-sm">Enregistrer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="block_details">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="">Nombre de mois restant:</label>
                                                            <p class="details_client">12
                                                                <span>mois</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="">Montant total restant:</label>
                                                            <p class="details_clientl">12 000<span>Ariary</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    {# /modal suppr #}
                                </section>
                            </section>
                            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
                        </section>

                    </section>
                </section>
            </section>
        
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{{ asset('js/dash.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.4/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.4/js/responsive.bootstrap.min.js"></script>
    <script>
    $(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
    });
    $(document).ready(function(){
        // animation modal 

            function show_modal_suppression(){
                $('#modal_suppression').css('display', 'flex');
                $('.inner_modal').css('transform' , 'scale(1)');
            }
             function hide_modal_suppression(){
				 //$(".clicked").removeClass('clicked');
                $('#modal_suppression').css('display', 'none');
                $('.inner_modal').css('transform' , 'scale(0)');
			}
			
			 // hide modal 
            $('.annuler_suppression').click(function(e){
				e.preventDefault();
                hide_modal_suppression();
			})

			$('.suppr').click(function(e){
				e.preventDefault();
				var id = $(this).attr('data-id-client');
				//alert(id);
				// on pose ce id dans le bouton suppr
				$("#btn_supprimer_client").attr('data-id-client',id);
				show_modal_suppression();

			})
			$('#btn_supprimer_client').click(function(e){
				e.preventDefault();
				var id = $(this).attr('data-id-client')
				// ajax : 
				$.ajax({
					url :"/admin/supprimer_client/"+id,
					type : "POST",
					data : {
						"action":"suppression",
					},
					beforeSend : function(){
						$('#btn_supprimer_client').text('Suppression du client en cours');
					},
					success: function(response){
						$('#btn_supprimer_client').text("Supprimer")
					},
					error: function(){
						alert('erreur ajax');
					},
					complete: function(){
						location.reload();
					}

				})
			})
    })
       
    </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
