{% extends "base.html.twig" %}
{% block title %}
     Les éditeurs
{% endblock %}
{% block body %}
    <div class="titre_page">
		<h2>Les éditeurs</h2>
	</div>
    <div class="liste_user">
       {% for item in items %}
           <div>
                <aside class="user_action">
                    <a href="{{ path('edit_user', {'id': item.id }) }}"><span class="fa fa-edit"></span></a>
                    <a href="{{ path('supprimer_client_de', {'user_id': item.id }) }}"><span class="fa fa-trash-o"></span></a>
                </aside>
                <a href="{{ path('liste_client_de_user', {'user_id': item.id }) }}">
                    <div><span class="fa fa-user"></span></div>
                    <ul>
                        <li>{{ item.username }}</li>
                        <li>{{ item.nom }} <i>{% if item.prenom is defined and item.prenom is not null %}
                                {{ item.prenom }}
                            {% endif %}</i></li>
                        <li><i><u>CIN:</u> </i>{{ item.cin }}</li>
                        <li><i><u>Contact:</u></i> {{ item.phone }}</li>
                        <li><i><u>Adresse:</u></i> {{ item.adresse }}</li>
                        <li><i><u>Rôle:</u> </i>
                            {% if item.roles[0] == "ROLE_ADMIN" %}
                                Administrateur
                            {% else %}
                                Editeurs
                            {% endif %}
                        </li>
                    </ul>
                </a>
            </div>
       {% endfor %}
        <!-- <div class='action'>
           <a href="#">
            <div><span class="fa fa-user action"><b>+</b></span></div>
            </a>
        </div> -->
    </div>
    <div class="row" id="cover_form_user">
        
            <h3>Enregistrer un utilisateur</h3>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="form_user" style="margin-top: 50px;">
                    {{ form_start(form) }}
                    <div class="col-sm-6">
                        {{ form_row(form.usernmane) }}
                        {{ form_row(form.type) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.adresse) }}
                        {{ form_row(form.cin) }}                
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.nom) }}
                        {{ form_row(form.prenom) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.enregistrer) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    

{% endblock %}
{% block javascripts %}
    <script>

        $(document).ready(function(){
           // alert('io')
        })

    </script>
{% endblock %}